<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
    <style>
      html {
        --max-width: 800px;
        --stretch-margin: min(-2vw, calc(-1 * (100vw - var(--max-width)) / 2));
      }

      .max-width-wrapper {
        max-width: var(--max-width);
        margin: auto;
      }

      .image {
        width: 100%;
        object-fit: cover;
      }

      .stretched-out {
        margin-left: var(--stretch-margin);
        margin-right: var(--stretch-margin);
      }
    </style>
    <div class="max-width-wrapper">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        animi soluta earum corporis excepturi itaque doloribus neque quasi?
        Dolor maiores id nihil amet fuga magni tenetur eum, natus est nobis
        molestias esse iusto. Quas natus provident hic minus, asperiores ratione
        incidunt iste ullam, odio quisquam a cum facere accusantium minima rerum
        quae. Minima sit facere accusamus expedita earum temporibus. Odit quasi
        harum iusto fugit accusamus ad, atque consequatur dolores perferendis
        quidem aliquam repellat. Necessitatibus adipisci modi laudantium natus
        earum quod vero consectetur. Delectus expedita quibusdam molestias, eos
        consequatur repellendus. Totam, fugit. Hic ut, quo atque perspiciatis
        tempora quasi temporibus itaque asperiores quisquam minima fuga sapiente
        id officiis, error optio. Vel architecto illum esse quam maiores cumque
        unde praesentium? Ipsa, eius accusantium dolores beatae quo rem.
        Doloremque repudiandae excepturi inventore dignissimos similique,
        itaque, qui quisquam asperiores optio ad animi a sit perferendis atque
        enim pariatur molestias id illo voluptatum alias, quibusdam consectetur
        sed. Neque incidunt praesentium voluptatum! Molestias sapiente
        reprehenderit laudantium temporibus. Porro expedita explicabo similique
        quam sint quibusdam officiis tenetur velit cupiditate. Voluptas omnis
        facere velit adipisci accusamus reprehenderit animi porro dolor quam.
        Error earum soluta eum sequi dicta eius facere non provident blanditiis,
        impedit incidunt cum, asperiores rerum deserunt?
      </p>
      <div class="stretched-out">
        <img class="image" src="/public/images/meerkats.avif" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        animi soluta earum corporis excepturi itaque doloribus neque quasi?
        Dolor maiores id nihil amet fuga magni tenetur eum, natus est nobis
        molestias esse iusto. Quas natus provident hic minus, asperiores ratione
        incidunt iste ullam, odio quisquam a cum facere accusantium minima rerum
        quae. Minima sit facere accusamus expedita earum temporibus. Odit quasi
        harum iusto fugit accusamus ad, atque consequatur dolores perferendis
        quidem aliquam repellat. Necessitatibus adipisci modi laudantium natus
        earum quod vero consectetur. Delectus expedita quibusdam molestias, eos
        consequatur repellendus. Totam, fugit. Hic ut, quo atque perspiciatis
        tempora quasi temporibus itaque asperiores quisquam minima fuga sapiente
        id officiis, error optio. Vel architecto illum esse quam maiores cumque
        unde praesentium? Ipsa, eius accusantium dolores beatae quo rem.
        Doloremque repudiandae excepturi inventore dignissimos similique,
        itaque, qui quisquam asperiores optio ad animi a sit perferendis atque
        enim pariatur molestias id illo voluptatum alias, quibusdam consectetur
        sed. Neque incidunt praesentium voluptatum! Molestias sapiente
        reprehenderit laudantium temporibus. Porro expedita explicabo similique
        quam sint quibusdam officiis tenetur velit cupiditate. Voluptas omnis
        facere velit adipisci accusamus reprehenderit animi porro dolor quam.
        Error earum soluta eum sequi dicta eius facere non provident blanditiis,
        impedit incidunt cum, asperiores rerum deserunt?
      </p>
    </div>
  </body>
</html>
